body {
    background-color: #efeee7;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    padding: 15px;
    text-align: center;
  }
  
  h1 {
    color: #eee;
    font-size: 28px;
    margin: 0;
  }
  
  h2 {
    font-size: 24px;
  }
  
  @media(){
    
  }
  .container {
    width: 1024px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3em;
    flex-grow: 1;
    padding:0 40px;
  }
  
  .div1, .div2, .div3 {
    width: 21em;
    height: 25em;
    box-shadow: 5px 5px 25px #f1eeee;
    padding: 10px 30px;
    border-radius: 10px;
  }
  
  #main-bio {
    width: 70%;
  }
  
  #contact-info {
    width: 30%;
    line-height: 1.5;
  }
  
  #bio-image img {
    width: 200px;
    margin-right: 20px; /* Adjust the margin as needed */
  }

  #container2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: crimson;
  }
  
  #container2 div{
    height: 380px;
    width: 335px;
    background: #108cff;
    margin: 60px;
    text-align: center;
    float:left
  }